.App {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 50px;
  font-size: 20px;
  word-wrap: break-word;
  overflow: hidden;
}

.search-bar {
  font-size: 2rem;
  margin-bottom: 25px;
}

th {
 text-align: left;
}
td {
  
}
